<header>
    <nav>
      <ul style="list-style:none; display:flex; gap:20px; padding:0; margin:0;">
        <li><a href="/">Home</a></li>
        <li><a href="/person1">Checo Perez</a></li>
        <li><a href="/person2">Lando Norris</a></li>
        <li><a href="/person3">Max Verstappen</a></li>
        <li><a href="/person4">Lewis Hamilton</a></li>
      </ul>
    </nav>
  </header>
  
  <hr>
  