<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LAB04 – F1 Drivers</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Welcome to My LAB04 Website</h1>
    <p>Select a person from the menu.</p>
  </body>
</html>
