<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sergio "Checo" Pérez</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Sergio "Checo" Pérez</h1>
    <p>Sergio Pérez is a Mexican Formula 1 driver known for his smooth driving style and strong racecraft.</p>
    <p>He currently races for Red Bull Racing and is admired for his defensive skills and strategic thinking on track.</p>
    <p>Checo is a fan favorite, especially across Latin America, and is known for representing Mexico with pride in motorsport.</p>
  
  </body>
</html>
