<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lando Norris</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Lando Norris</h1>
    <p>Lando Norris is a British Formula 1 driver racing for McLaren. He is well known for his speed, consistency, and charisma.</p>
    <p>Norris is one of the most popular drivers on social media thanks to his humor, streams, and friendly personality.</p>
    <p>He continues to grow as a competitor and is considered one of the rising stars of F1.</p>
  </body>
</html>
